select {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 8px;
}

select:focus {
    border: none;
    outline: none;
}

._input {
    width: 90%;

}

.input-wrap {
    width: 100%;
    background: white;
    border-radius: 8px;
}

.input-wrap input {
    padding: 18px;
    background: transparent;
    border: none;
}

.input-wrap input:focus {
    outline: none;
}

.input-number input {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 8px;
}
.number-input-wrap input:focus {
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn_wrap button {
    border-radius: 8px;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}