select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
}

select:focus {
    border: none;
    outline: none;
}

._input {
    width: 90%;

}

.input-wrap {
    width: 100%;
    background: white;
    border-radius: 8px;
}

.input-wrap input {
    padding: 15px;
    background: transparent;
    border: none;
}

.input-wrap input:focus {
    outline: none;
}

.input-number input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
}
.number-input-wrap input:focus {
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn_wrap button {
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: rgb(9,178,148);
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

@media screen and (max-width:576px) {
    .btn_wrap button {
        width: 100%;
        padding: 15px 0;
        border-radius: 6px;
        border: none;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: rgb(9,178,148);
    }
}